/**
    Folha de Estilo do APP Simulador
    @author Andrew Dantas
*/

/* CABEÇALHO */
body {
    font-family: sans-serif;
    font-size: 1em;
}

img {
    max-width: 100%;
}

header h1 {
    color: #cc470d;
    text-align: center;
}

/*  MENU  */
nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #E15A1F;
    overflow: hidden;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #CC470D;
}


/* CONTAINER */
.container {
    margin: 50px 10px;
    text-align: center;
}

#sw1 {
    float: left;
}

#sw2 {
    float: right;
}

/* RODAPÉ */
footer {
    width: 100%;
    background-color: #CC470D;
    color: #FFFFFF;
    padding: 5px 0px;
    font-size: .9em;
    text-align: center;
}

/* LAYOUT RESPONSIVO TELAS COM RESOLUÇÃO SUPERIOR A 576 PX */
@media (min-width: 576px) {
#sw1, #sw2 {
    float: none;
}
}